Repository DFarau/Projet-Talk-Master-Front: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix, prettier --write

chore: update README.md
  README.md
Due: prettier --write

chore: initial empty prod branch
  README.md
Due: prettier --write

feat(src): add login, register and forgot password
  package.json
  pnpm-lock.yaml
  public/assets/login-registration-illustration.png
  src/app/forgot-password/page.tsx
  src/app/login/page.tsx
  src/app/register/page.tsx
  src/components/AuthForm.tsx
Due: prettier --write

chore(workflows): add CI workflow
  .github/workflows/ci.yml
Due: prettier --write

chore(workflows): update CI workflow
  .github/workflows/ci.yml
Due: prettier --write

chore(workflows): update CI workflow
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore: fix eslint config
  eslint.config.mjs
Due: none

chore: fix eslint config
  eslint.config.mjs
  package.json
Due: prettier --write

chore(workflows): update CI workflow
  .github/workflows/ci.yml
  eslint.config.mjs
Due: prettier --write

feat: talk form UI
  src/app/talks/create/page.tsx
  src/app/talks/update/page.tsx
  src/components/TalkForm.tsx
Due: none

delete button
  src/components/TalkForm.tsx
Due: none

integration dashboard admin
  package.json
  pnpm-lock.yaml
  src/app/talks/manage/page.tsx
  src/components/talkslist.tsx
  src/components/ui/accordion.tsx
Due: prettier --write

feat: integration dashboard admin
  src/app/talks/manage/page.tsx
Due: none

feat: add basic auth api hooks and auth context
  src/api/user.ts
  src/app/talks/manage/page.tsx
  src/contexts/authContext.tsx
Due: none

chore: add .env.template
  .env.template
  .gitignore
Due: none

feat: responsive fot login, form and admin pages
  src/app/login/page.tsx
  src/app/register/page.tsx
  src/app/talks/create/page.tsx
  src/app/talks/manage/page.tsx
  src/components/AuthForm.tsx
  src/components/TalkForm.tsx
  src/components/talkslist.tsx
Due: none

feat: adding login middleware :sparkles:
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.mjs
  src/app/login/page.tsx
  src/app/talks/create/page.tsx
  src/app/talks/update/page.tsx
  src/components/AuthForm.tsx
  src/components/TalkForm.tsx
  src/middleware.ts
  tsconfig.json
Due: next lint --fix, prettier --write

Update src/components/talkslist.tsx
  src/components/talkslist.tsx
Due: none

feat: adding api url insinde .env :sparkles:
  .env.example
  .gitignore
  .husky/pre-commit
  src/components/AuthForm.tsx
Due: none

feat(src): add planning component
  src/app/planning/page.tsx
  src/components/Planning.tsx
  src/components/ui/calendar.tsx
  src/hooks/Calendar.ts
  src/stores/useCalendarStore.ts
Due: none

feat(src): add tooltip component
  src/components/ui/calendar.tsx
  src/components/ui/tooltip.tsx
  src/hooks/Tooltip.ts
  src/stores/useTooltipStore.ts
Due: none

Path conditions:
  next lint --fix: any of: src/*.{js,ts,tsx}
  prettier --write: (any of: src/*.{js,ts,tsx}) or (any of: *.{json,md,yml,yaml})
